################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/nanglevik.github.io/v17
/.vs/nanglevik.github.io/FileContentIndex
/.vs
