/*
    --base-background-layer-0: #161616;
    --base-background-layer-1: #1c1c1c;
    --base-background-layer-2: #2c2c2c;

    --base-border-layer-0: #232323;
    --base-border-layer-1: #373737;
    --base-border-layer-2: #383838;

    --base-text-white: #F5F5F5;
    --base-text-gray: #7b7b7b;
*/

/* Search Bar */
#search {
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--base-border-layer-1);
    border-radius: 16px;
    margin-bottom: 20px;
    background-color: var(--base-background-layer-1);
    color: var(--base-text-gray);
}

/* "No Results" Message */
#no-results {
    display: none;
    color: var(--base-text-gray);
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 45%;
    margin-right: auto;
}


.article-selector-main {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1em;
    margin: 0em 3em 1em;
    color: var(--base-text-white);
}

.article-category {
    flex: 1 1 300px; /* grow/shrink with a min width */
    max-width: 100%;
    border-radius: 8px;
    background-color: var(--base-background-layer-0);
    border: 2px solid var(--base-border-layer-0);
}


.article-subcategory {
    background-color: var(--base-background-layer-1);
    border-radius: 16px;
}

.article-topicgroup {
    background-color: var(--base-background-layer-2);
    border: 2px solid var(--base-border-layer-2);
    border-radius: 16px;
}



.accordion-toggle {
    display: inline-flex; /* allow wrapping side by side */
    align-items: center;
    justify-content: start;
    color: var(--base-text-white);
    background-color: var(--base-bakcground-layer-1);
    border: 1px solid var(--base-border-layer-1);
    border-radius: 6px;
    padding: 8px 12px;
    margin: 6px;
    font-weight: bold;
    cursor: pointer;
    min-width: 200px; /* make sure buttons don't get too small */
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .accordion-toggle::before {
        content: "O";
        color: var(--base-text-white);
        display: inline-block;
        margin-right: 8px;
        transition: transform 0.2s;
    }

    .accordion-toggle.open::before {
        content: "X";
    }

.accordion-content {
    display: none;
    padding-left: 20px;
}

.accordion-toggle.open + .accordion-content {
    display: block;
}

.articles-list {
    list-style: none;
    padding-left: 20px;
}

.article-item {
    margin: 4px 0;
}