:root {
    --background-color-0: #23262d;
    --background-color-1: #282b30;
    --background-color-2: #383b43;

    --color-white-0: #e6e6e6;
    --color-white-1: #aaaaaa;
    --color-orange-0: #eeb44c;
    --color-orange-1: #a78a57;
    --color-yellow: #ffd183;
    --color-red: #ff8383;
    --color-silver: #bbbbbb;
    --color-white: #d7d7d7;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color-0);
    color: var(--color-white);
}

a {
    text-decoration: none;
    color: var(--color-yellow);
}

a:hover {
    text-decoration: underline;
}

img {
    filter:brightness(0.8);
    filter:contrast(1.2);
}