:root {
    --background-color-0: #23262d;
    --background-color-1: #282b30;
    --background-color-2: #383b43;

    --color-white-0: #e6e6e6;
    --color-white-1: #aaaaaa;
    --color-orange-0: #eeb44c;
    --color-orange-1: #a78a57;
    --color-yellow: #ffd183;
    --color-red: #ff8383;
    --color-silver: #bbbbbb;
    --color-white: #d7d7d7;
   
    --base-background-layer-0: #161616;
    --base-background-layer-1: #1c1c1c;
    --base-background-layer-2: #2c2c2c;

    --base-border-layer-0: #232323;
    --base-border-layer-1: #373737;
    --base-border-layer-2: #383838;

    --base-text-white: #F5F5F5;
    --base-text-lightgray: #bdbdbd;
    --base-text-gray: #7b7b7b;
    --base-text-theme: #ffd183;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--base-text-white);
}

h2 {
    color: var(--base-text-gray);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--base-background-layer-0);
    color: var(--base-text-white);
}

a {
    text-decoration: none;
    color: var(--color-yellow);
}

a:hover {
    text-decoration: underline;
}

img {
    filter:brightness(0.8);
    filter:contrast(1.2);
}