:root {
    --header-height: 150px;
    --navbar-height: 60px;
}

/*
    ---------------------------------------------------------
    -------------------- HEADER -----------------------------
    ---------------------------------------------------------
*/
.header {
    text-align: center;
    padding: 1em;
}


/*
    ---------------------------------------------------------
    ------------------- NAV BAR -----------------------------
    ---------------------------------------------------------
*/
.navbar {
    background-color: var(--background-color-2);
    padding: 0.5em;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 1em;
    align-items: center;
    padding-left: 2em;
    flex-wrap: wrap;
}

    .navbar a {
        display: flex;
        color: #f2f2f2;
        text-decoration: none;
        padding: 0.5em 1em;
        flex-grow: 0;
        justify-content: center;
    }

        .navbar a:hover {
            background-color: var(--color-silver);
            color: var(--background-color-1);
        }

    


/*
    ---------------------------------------------------------
    --------------- SEARCH BAR ------------------------------
    ---------------------------------------------------------
*/
#search-container {
    position: relative;
    justify-content: center;
    margin-right: 2em;
    margin-left: auto; /* push bar to the right */
    max-width: 300px;
    width: 100%;
    
    color: var(--background-color-0);
}

#search-box {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    border: 1px solid var(--color-silver);
    border-radius: 1em;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

    #search-box:focus {
        outline: none;
        border-color: var(--color-yellow);
        box-shadow: 0 0 10px #f8b16eb8;
    }

#search-results {
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--background-color-1);
    border: 1px solid var(--color-silver);
    border-radius: 1em;
    max-height: 300px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
    position: absolute; /* This ensures the search results are positioned over the page */
    top: 100%; /* Position them directly below the search box */
    left: 0; /* Align with the left edge of the search container */
    right: 0; /* Make the width match the search box */
    z-index: 999; /* Ensure the results are on top of other content */
}

    #search-results.show {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }

    #search-results li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

        #search-results li:last-child {
            border-bottom: none;
        }

    #search-results a {
        text-decoration: none;
        color: var(--color-yellow);
        pointer-events: auto;
    }

        #search-results a:hover {
            text-decoration: underline;
        }


/*
    ---------------------------------------------------------
    ------------------ MAIN CONTAINER -----------------------
    ---------------------------------------------------------
*/

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: sticky;
    padding-top: 1em;

    top: 60px;
    width: 250px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    background-color: var(--background-color-1);
    color: white;
}

.sidebar.collapsed {
    transform: translateX(-100%);
    width: 0;
    overflow-y: hidden;
}

.article-content {
    flex: 1;
    padding: 2em 2.5em;
    transition: margin-left 0.3s ease-in-out;
    overflow-y: auto;
}

    .article-content.expanded {
        margin-left: 0;
    }

.toggle-button {
    position: fixed;
    width: 32px;
    height: 32px;
    z-index: 999;
    left: 236px;
    transition: left 0.3s ease-in-out;
}

/*
    ---------------------------------------------------------
    ------- SIDEBAR - TABLE OF CONTENT ----------------------
    ---------------------------------------------------------
*/
#toc ul {
    list-style-type: none;
    padding-left: 1em;
    margin-top: 2em; /* Add space below the toggle button */
}

    #toc ul li {
        margin: 5px 0;
    }

#toc a {
    text-decoration: none;
    color: var(--color-silver);
    font-size: 16px;
}

    #toc a:hover {
        color: #ff9839;
    }


/*
    ---------------------------------------------------------
    --------------- GRAPHIC BOX -----------------------------
    ---------------------------------------------------------
*/

.graphic-section {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--background-color-1);
    border: 1px solid var(--color-white);
    border-radius: 5px;
}

.graphic-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

    .graphic-section img, .graphic-section .video-icon {
        width: 0 0 calc(50% - 10px);
        max-width: 100%;
        height: auto;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;
    }

        .graphic-section img:hover, .graphic-section .video-icon:hover {
            transform: scale(1.05);
        }

.video-icon {
    background: url('/assets/images/video-icon.png') no-repeat center center;
    background-size: contain;
}

.video-thumbnail {
    border: 2px solid #f00; /* Red border to highlight video */
    background-color: #000;
    border-radius: 5px;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

    .lightbox img, .lightbox iframe {
        max-width: 100%;
        max-height: 100%;
    }

    .lightbox .close, .lightbox .prev, .lightbox .next {
        position: absolute;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        z-index: 1001;
    }

    .lightbox .close {
        top: 10px;
        right: 20px;
    }

    .lightbox .prev, .lightbox .next {
        top: 50%;
        transform: translateY(-50%);
    }

    .lightbox .prev {
        left: 10px;
    }

    .lightbox .next {
        right: 10px;
    }



/*
    ---------------------------------------------------------
    --------------- BACK-TO-TOP -----------------------------
    ---------------------------------------------------------
*/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-yellow);
    color: var(--background-color-1);
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

    #back-to-top:hover {
        background-color: var(--color-red);
        color: var(--color-white);
    }

    #back-to-top.show {
        display: block;
        opacity: 1;
        transform: scale(1);
    }


/*
    ---------------------------------------------------------
    -------------------- FOOTER -----------------------------
    ---------------------------------------------------------
*/
.footer {
    background-color: var(--background-color-2);
    color: var(--color-silver);
    text-align: center;
    padding: 1em;
    margin-top: auto; /* Push footer to the bottom */
}