<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
    <header>
        <h1>{{site.title}}</h1>
        <p>This is the defualt layout</p>
       
        <nav>
            <!-- Add navigation links -->
        </nav>
    </header>

    <main>
        {{ content }} <!-- This is where the content of index.md will be inserted -->
    </main>

    <footer>
        <p>&copy; 2025 nanglevik</p>
    </footer>
</body>
</html>