<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/base.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/layout.css" | relative_url }}">
</head>

<body>
    <header class="header">
        <p><strong>{{site.title}}</strong></p>
        <p>This is the 'home' layout</p>
        <p>Last edited {{ page.date }}</p>

        
    </header>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="#news">News</a>

        <div id="search-container">
            <input type="text" id="search-box" placeholder="Type to search through all articles...">
            <ul id="search-results"></ul>
        </div>
    </nav>


    <!-- MAIN CONTENT CONTAINER -->
    <div class="main-container">
        <div class="article-content">
            {{ content }} <!-- This is where the content of index.md will be inserted -->
        </div>
    </div>

  



    <!-- FOOTER -->
    <footer class="footer">
        <p>&copy; 2025 nanglevik</p>
    </footer>



    <!-- search bar javascript -->
    <script src="/assets/js/lunr.min.js"></script>
    <script src="/assets/js/search.js"></script>


    <!-- Back-to-top button -->
    <button id="back-to-top" title="Go to top">⬆</button>
    <script>
        const backToTopButton = document.getElementById('back-to-top');

        // Show or hide the button based on scroll position
        window.addEventListener('scroll', () => {
            if (window.scrollY > 160) {
                backToTopButton.classList.add('show');
            } else {
                backToTopButton.classList.remove('show');
            }
        });

        // Scroll to the top when the button is clicked
        backToTopButton.addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // Smooth scrolling
            });
        });
    </script>

</body>
</html>